body {
    background-color: grey;
}

header {
    background-color: white; border-top-left-radius: 10px; border-top-right-radius: 10px;
}

h1 + h2 + h3 + h4 + h5 + h6 + p {
    font-family: Verdana, Geneva, Tahoma, sans-serif; color: black;
}

h1 {
    font-size: 38pt; border-radius: 10px;
}

h3 {
    font-size: 20pt;
}

p {
    font-size: 10pt;
}

main {
    background-color: white; border-radius: 10px;
}

aside {
    background-color: white; border-radius: 10px;
}

footer {
    background-color: #f006e1; border-radius: 10px;
}




nav li {
    border: 2px solid white; background-color: #f006e1; list-style-type: none;
}

nav li a {
    color: black; text-align: center; text-decoration: none;
}

Nav li:hover {
    background-color: #fb60f1;
}

.active {
    background-color: #a10497;
}




table {
    font-family: Verdana, Geneva, Tahoma, sans-serif; border-collapse: collapse;
}

table td, table th {
    border: 2px solid #f0f0f0;
}

Table tr:nth-child(even) {
    background-color: #f2f2f2;
}

Table tr:hover {
    background-color: grey;
}

Table th {
    background-color: #f006e1; color: white;
}


